.searchbar_input {
    /* border: 1px solid black; */
    height: 2rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.searchbar_input input {
    border: none;
    width: 80%;
    border-radius: 10px;

}

.searchbar_input button {
    border: none;
    background-color: transparent;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.searchbar_input button svg {
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
    color: white;

}