.header{
    display: flex;
    flex-wrap: nowrap;
    border: 2px dashed  rgb(41, 41, 41);
    height: 12vh;
    width: 98vw;
    color: white;
}

.header_content{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    /* margin-right: 20px; */
}

.header_newPlaylist{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 150px;
}

.header_myPlays{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 100px;
}

.header_myPlays select{
    width: 100%;
    height: 1.5rem;
}

.log_button{
    width: 2.5rem;
    height: 2.5rem;
}

.header__logOut{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.header_logo{
    cursor: pointer;
}

.header__logOut svg{
    cursor: pointer;
}